[submodule "bash-it"]
	path = bash-it
	url = sccj002253.sc.intel.com:~/custom/env_bare/bash-it
[submodule "autojump"]
	path = autojump
	url = sccj002253.sc.intel.com:~/custom/env_bare/autojump
[submodule "history"]
	path = history
	url = sccj002253.sc.intel.com:~/custom/env_bare/history
[submodule "pygments"]
	path = pygments
	url = sccj002253.sc.intel.com:~/custom/env_bare/pygments
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/CeleritasCelery/.emacs.d.git
[submodule "perl5"]
	path = perl5
	url = sccj002253.sc.intel.com:~/custom/env_bare/perl5
[submodule "tmux-better-mouse-mode"]
	path = tmux/tmux-better-mouse-mode
	url = sccj002253.sc.intel.com:~/custom/env_bare/tmux/tmux-better-mouse-mode
[submodule "tmux-copycat"]
	path = tmux/tmux-copycat
	url = sccj002253.sc.intel.com:~/custom/env_bare/tmux/tmux-copycat
[submodule "tmux-resurrect"]
	path = tmux/tmux-resurrect
	url = sccj002253.sc.intel.com:~/custom/env_bare/tmux/tmux-resurrect/
[submodule "tmux-continuum"]
	path = tmux/tmux-continuum
	url = sccj002253.sc.intel.com:~/custom/env_bare/tmux/tmux-continuum/
[submodule "tmux-prefix-highlight"]
	path = tmux/tmux-prefix-highlight
	url = sccj002253.sc.intel.com:~/custom/env_bare/tmux/tmux-prefix-highlight/
[submodule "tmux-yank"]
	path = tmux/tmux-yank
	url = sccj002253.sc.intel.com:~/custom/env_bare/tmux/tmux-yank/
[submodule "theme/base16-gnome-terminal"]
	path = theme/base16-gnome-terminal
	url = https://github.com/chriskempson/base16-gnome-terminal.git
[submodule "theme/base16-shell"]
	path = theme/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
